.order_item{
    display: flex;
    flex-direction: row;
    margin: 1em 0em;
    position: relative;
    cursor: pointer;
}
.order_item img{
    width: 18%;
    height: 10em;
    padding: 1em;
}
.order_item_details{
    width: 82%;
    margin: 1em;
    padding: 1em 2em;
}
.order_price_quantity{
    display: flex;
    flex-direction: column;
}
.order_price_quantity span{
    font-size: 1em;
}

